* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100vh;
  margin: auto;
}

.page-content {
  margin-top: 10%;
  margin-left: 0;
  text-align: center;
}

/*
h2 {
  font-size: 25px;
}

p {
  margin-top: 5%;
}
*/
.contact-form {
  width: 60%;
  margin: auto;
}

/* .contact-form-background {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-top: 5%;
  background: #ffcf99;
  height: auto;
  border-radius: 5%;
  margin: 0%;
  padding: 0%;
} */

.contact-form input[type="text"],
input[type="email"],
textarea {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  background-color: aliceblue;
  border: 1px solid #a5402d;
  border-radius: 5px;
  padding: 3%;
  width: 100%;
  margin: 5%;
}

.contact-form .submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 50%;
  font-size: 17px;
  background-color: #a5402d;
  border-radius: 5px;
  color: aliceblue;
  cursor: pointer;
  margin: auto;
}
